

.carousel-pictures-container{
    display: flex;
    margin-top: 75px;
    margin-left: 20px;
    max-width: 100%;
    gap:70px;
    position: relative;
    padding-top: 70px;
      
}



.button-container{
    position: absolute;
  top: 0;
  right: 0;
  margin-top: 40px;
  margin-right: 30px;

}


.next-latest-button{
    
    background-color: rgb(128, 128, 128);
    border-radius: 2px;
    border: solid 2px rgb(0, 0, 0);
    height: 25px;
    width: 30px;
    
}

.next-icon {
    color: white;
   font-size: 15px;
   
    
  }

  .latest-heading{
    font-family: monospace;
    margin-left: 140px;
    font-size:15px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }



  .promotions-heading{
    font-family: monospace;
    margin-left: 130px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .menu-heading{
    font-family: monospace;
    margin-left: 140px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }


  .latest-picture:hover,
.promotions-picture:hover,
.menu-picture:hover {
  opacity: 0.7;
}